<a href="https://colab.research.google.com/github/CheyQ27/Main-Projects/blob/main/Project_2_pt_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Housing Price in Beijing
- Cheyenne Quann
- 06/15/2022

1) My source of data is https://www.kaggle.com/datasets/ruiqurm/lianjia and all data was fetched from https://bj.lianjia.com/chengjiao

2) This set contains extensive and pertinent information on the housing market in Beijing, China. This set is geared toward educating potential home buyers, containing information on price, home size, condition, community information and how long properties have been on the market.

3) My target will be the price of a home or the total price

4) This is a regression problem

5) There will be between 22 and 23 features

6) There are 200,000 rows in my dataset

7) The biggest challenge that I foresee is how I will split my data. I want to predict future housing prices so I need to figure out how to make my training set houses before a certain date and my testing set houses after that date

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [16]:
df = pd.read_csv('/content/drive/MyDrive/Coding Dojo/DataSets/new - new.csv')
df=df.sample(200000)
df.to_csv('/content/200khouses.csv')
df = pd.read_csv('/content/200khouses.csv')
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (1,11,12,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,url,id,Lng,Lat,Cid,tradeTime,DOM,followers,totalPrice,...,buildingType,constructionTime,renovationCondition,buildingStructure,ladderRatio,elevator,fiveYearsProperty,subway,district,communityAverage
0,272244,https://bj.lianjia.com/chengjiao/BJSJ86937015....,BJSJ86937015,116.212671,39.900574,1.111027e+12,2014-01-01,NaN,5,450.0,...,3.0,未知,1,6,0.667,1.0,0.0,0.0,9,57942.0
1,183723,https://bj.lianjia.com/chengjiao/BJCY91181857....,BJCY91181857,116.445582,39.974979,1.111027e+12,2015-12-31,1.0,16,260.0,...,4.0,1998,3,6,0.333,0.0,1.0,1.0,7,66102.0
2,99668,https://bj.lianjia.com/chengjiao/BJCP85595070....,BJCP85595070,116.439420,40.072066,1.111027e+12,2015-03-24,1.0,13,237.0,...,4.0,2001,4,2,0.500,0.0,1.0,0.0,6,40934.0
3,181505,https://bj.lianjia.com/chengjiao/BJCY90950230....,BJCY90950230,116.481632,39.927935,1.111027e+12,2016-01-10,1.0,17,174.0,...,4.0,1987,3,6,0.167,1.0,1.0,1.0,7,67899.0
4,254148,https://bj.lianjia.com/chengjiao/BJHD88117786....,BJHD88117786,116.338384,39.934691,1.111027e+12,2014-11-24,1.0,3,280.0,...,4.0,1990,4,2,0.125,0.0,1.0,1.0,8,96480.0

In [18]:
df.shape

(200000, 27)